/* 
* @Author: SryanZY
* @Date:   2017-10-18 21:21:06
* @Last Modified by:   SryanZY
* @Last Modified time: 2017-10-18 21:24:00
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}
